@page
@model SibersTestTask.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.IdProject" />
            <div class="form-group">
                <label asp-for="Project.IdLeadProject" class="control-label"></label>
                <input asp-for="Project.IdLeadProject" class="form-control" />
                <span asp-validation-for="Project.IdLeadProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Priority" class="control-label"></label>
                <input asp-for="Project.Priority" class="form-control" />
                <span asp-validation-for="Project.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.NameProject" class="control-label"></label>
                <input asp-for="Project.NameProject" class="form-control" />
                <span asp-validation-for="Project.NameProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.NameContractorCompany" class="control-label"></label>
                <input asp-for="Project.NameContractorCompany" class="form-control" />
                <span asp-validation-for="Project.NameContractorCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.NameClientCompany" class="control-label"></label>
                <input asp-for="Project.NameClientCompany" class="form-control" />
                <span asp-validation-for="Project.NameClientCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.StartDate" class="control-label"></label>
                <input asp-for="Project.StartDate" class="form-control" />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
